<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form th:action="@{/customers}" method="post">
    <input type="text" name="name"/>
    <button type="submit">Search</button>
</form>

<a href="/customers/add">Add</a>

<table th:border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <tr  th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td>
            <img th:if="${customer.image}" th:src="@{${customer.image}}" width="100" height="100" alt=""/>
        </td>
        <td th:text="${customer.phone}"></td>
        <td th:text="${customer.address}"></td>
        <td>
            <a th:href="@{/customers/edit/{id}(id=${customer.id})}">Edit</a>
            <a th:href="@{/customers/delete/{id}(id=${customer.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>